{% load i18n %}{% autoescape off %}
{% blocktranslate %}Ricevi questa email perché hai richiesto il reset password per l'app: {{ site_name }}.{% endblocktranslate %}

{% translate "Per favore vai alla pagina seguente e scegli una nuova password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate "La tua username, nel caso l'avessi dimenticata:" %} {{ user.get_username }}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}